@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --color-principal: #000AFF;
  --color-secundario: #2033ED;
  --color-texto: #FFF;
  --color-accent: #FF4025;
  --color-subtexto: #6F6F6F;
  --fondo-principal: #000;
  --fondo-secundario: #141414;
  --fondo-terciario: #00047B;
  --form-principal: #2C2C2C;
  --f-principal: "Tourney", cursive;
  --f-secundaria: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
    :root{
        --negro         : #ececec;

    }
}*/
/*
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
}

table,
td,
tr {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  fill: currentColor;
}

body {
  font-family: var(--f-principal);
  font-size: 100%;
  line-height: normal;
  min-height: 100vh;
  background-color: var(--fondo-principal);
  color: var(--color-texto);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Home de Sergio */
.home * {
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--f-principal);
  font-style: italic;
}
.home .header {
  width: 100%;
  color: white;
  background-color: var(--color-principal);
  position: fixed;
  top: 0;
  z-index: 2;
}
.home .header__centrado {
  width: 100%;
  max-width: 1830px;
  margin: auto;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .header__h1 {
  width: 2em;
}
.home .header__nav {
  margin-left: 35px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .header__li {
  padding: 1.4em 1em;
}
.home .header__hov {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home .header__hov:hover {
  opacity: 0.7;
}
.home .header__restante {
  width: 100%;
  background-color: #0008d5;
  padding: 3px;
}
.home .header__centrotexto {
  width: 100%;
  margin: auto;
  text-align: center;
  font-style: none;
}
.home .fondo {
  color: white;
  width: 100%;
  position: relative;
}
.home .fondo__video {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}
.home .fondo__caja {
  position: absolute;
  width: 100%;
  top: 24%;
  left: 0;
}
.home .fondo__centrado {
  width: 44%;
  max-width: 615px;
  margin: auto;
  text-align: center;
}
.home .fondo__live {
  padding: 0.6em 0;
  font-size: 3.5em;
}
.home .fondo__teatro {
  font-weight: 900;
  font-size: 1.8em;
}
.home .fondo__boton {
  width: 50%;
  margin: auto;
  font-size: 1.06em;
  margin-top: 1.5em;
  padding: 18px 40px;
  cursor: pointer;
  color: white;
  background-color: var(--color-accent);
  -webkit-transition: color 0.6s ease-out 0s;
  transition: color 0.6s ease-out 0s;
  overflow: hidden;
}
.home .fondo__boton:hover {
  background-color: white;
}
.home .fondo__enlace {
  width: 100%;
  height: 100%;
  position: relative;
}
.home .fondo__span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
}
.home .fondo__sphover {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-accent);
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.home .fondo__boton:hover .fondo__span {
  color: var(--color-accent);
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  opacity: 0;
}
.home .fondo__boton:hover .fondo__sphover {
  opacity: 1;
  color: var(--color-accent);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
}
.home .fondo__fecha {
  margin-top: 12.5em;
  width: 100%;
  height: 7.5em;
  border: 1px solid white;
}
.home .fondo__cajaflex {
  font-style: normal;
  margin: 1em auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .fondo__boton2 {
  width: 90%;
  margin: auto;
  font-size: 1.06em;
  margin-top: 1.5em;
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  background-color: var(--color-principal);
  -webkit-transition: color 0.6s ease-out 0s;
  transition: color 0.6s ease-out 0s;
  overflow: hidden;
}
.home .fondo__boton2:hover {
  background-color: white;
}
.home .fondo__enlace2 {
  width: 100%;
  height: 100%;
  position: relative;
}
.home .fondo__span2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
}
.home .fondo__sphover2 {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-principal);
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.home .fondo__boton2:hover .fondo__span2 {
  color: var(--color-principal);
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  opacity: 0;
}
.home .fondo__boton2:hover .fondo__sphover2 {
  opacity: 1;
  color: var(--color-principal);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
}
.home .cajanegra {
  width: 100%;
  color: white;
  background-color: black;
  font-style: normal;
  line-height: 1;
}
.home .cajanegra__centrado {
  width: 90%;
  max-width: 1150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  padding: 8.75em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .cajanegra__video {
  max-height: 550px;
  width: 48%;
}
.home .cajanegra__textos {
  width: 48%;
}
.home .cajanegra__h2 {
  font-weight: 300;
  font-size: 5em;
  padding-bottom: 0.3em;
}
.home .cajanegra__h3 {
  width: 80%;
  font-size: 4em;
}
.home .cajanegra__p {
  padding: 3em 0;
  text-transform: initial;
  font-family: Arial, Helvetica, sans-serif;
}
.home .cajanegra__boton {
  width: 65%;
  font-size: 17px;
  margin-top: 1.5em;
  padding: 18px 40px;
  cursor: pointer;
  color: white;
  background-color: var(--color-principal);
  -webkit-transition: color 0.6s ease-out 0s;
  transition: color 0.6s ease-out 0s;
  overflow: hidden;
}
.home .cajanegra__boton:hover {
  background-color: white;
}
.home .cajanegra__enlace {
  width: 100%;
  height: 100%;
  position: relative;
}
.home .cajanegra__span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
}
.home .cajanegra__sphover {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-principal);
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.home .cajanegra__boton:hover .cajanegra__span {
  color: var(--color-principal);
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  opacity: 0;
}
.home .cajanegra__boton:hover .cajanegra__sphover {
  opacity: 1;
  color: var(--color-principal);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.01s, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
}
.home .news {
  padding: 8.75em 0;
  color: white;
  width: 100%;
  background-color: var(--fondo-secundario);
}
.home .news__titulos {
  width: 90%;
  max-width: 1750px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .news__h2 {
  font-size: 48px;
  padding-bottom: 1em;
}
.home .news__centrado {
  width: 90%;
  margin: auto;
  max-height: 320px;
}
.home .news__sobresaliente {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.home .news__item {
  width: 15%;
  margin-right: 3.25em;
}
.home .news__img {
  padding: 2em 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home .news__fecha {
  font-size: 13px;
  color: #6f6f6f;
}
.home .news__p {
  padding-top: 1em;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home .news__item:hover .news__img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.home .news__item:hover .news__p {
  color: #6f6f6f;
}
.home .explore {
  width: 100%;
  padding: 8.25em 0;
  background-color: var(--fondo-secundario);
  min-height: 70vh;
  text-align: center;
  color: white;
  font-size: 48px;
}
.home .explore__centrado {
  padding: 4em 0 0 0;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .explore__img {
  width: 45%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home .explore__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.home .formulario {
  min-height: 70vh;
  background-image: url(../assets/home/img/fondo.jpg);
  background-size: cover;
}
.home .formulario__centrado {
  width: 80%;
  max-width: 675px;
  margin: auto;
  padding-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .formulario__h4 {
  text-align: right;
  font-size: 40px;
  line-height: 1;
  color: var(--color-principal);
}
.home .formulario__h3 {
  text-align: right;
  font-size: 70px;
  line-height: 1;
  color: var(--color-principal);
}
.home .formulario__blanco {
  color: white;
}
.home .formulario__form {
  padding-top: 2em;
  color: white;
}
.home .formulario__nombre {
  width: 100%;
  background-color: #2c2c2c;
  padding: 1.25em;
  border-radius: 0.25em;
  margin: 2em;
  color: white;
}
.home .formulario__nombre::-webkit-input-placeholder {
  color: white;
}
.home .formulario__nombre::-moz-placeholder {
  color: white;
}
.home .formulario__nombre:-ms-input-placeholder {
  color: white;
}
.home .formulario__nombre::-ms-input-placeholder {
  color: white;
}
.home .formulario__nombre::placeholder {
  color: white;
}
.home .formulario__nombre:focus::-webkit-input-placeholder {
  color: gray;
}
.home .formulario__nombre:focus::-moz-placeholder {
  color: gray;
}
.home .formulario__nombre:focus:-ms-input-placeholder {
  color: gray;
}
.home .formulario__nombre:focus::-ms-input-placeholder {
  color: gray;
}
.home .formulario__nombre:focus::placeholder {
  color: gray;
}
.home .formulario__label {
  display: block;
  position: relative;
  margin-left: 45px;
  padding-bottom: 2em;
}
.home .formulario__aceptar {
  padding-left: 45px;
}
.home .formulario__check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.home .formulario__cuadrado {
  position: absolute;
  display: block;
  top: 3px;
  left: 0px;
  height: 30px;
  width: 30px;
  background-color: #000aff;
}
.home .formulario__cuadrado::after {
  content: " ";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border: 7px solid black;
  display: none;
}
.home .formulario__check:checked + .formulario__cuadrado::after {
  display: block;
}
.home .formulario__submit {
  margin: auto;
  cursor: pointer;
  padding: 12px 30px;
  text-align: center;
  width: 100%;
  border: 1px solid white;
  max-width: 270px;
}
@media screen and (max-width: 1700px) {
  .home .fondo__caja {
    position: static;
    background-color: var(--fondo-secundario);
    padding: 2em 0;
    line-height: 1;
  }
  .home .fondo__centrado {
    width: 80%;
  }
}
@media screen and (max-width: 1350px) {
  .home .cajanegra__centrado {
    display: block;
    width: 80%;
  }
  .home .cajanegra__video {
    width: 100%;
  }
  .home .cajanegra__textos {
    padding-top: 2em;
    width: 100%;
    text-align: center;
    font-size: 0.6em;
  }
  .home .cajanegra__h3 {
    width: 100%;
  }
  .home .cajanegra__boton {
    margin: auto;
  }
  .home .news__sobresaliente {
    display: block;
    width: 80%;
    margin: auto;
  }
  .home .news__centrado {
    max-height: none;
  }
  .home .news__item {
    width: 100%;
    margin: auto;
  }
  .home .news__img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  .home .formulario__centrado {
    display: block;
    text-align: center;
  }
  .home .explore__centrado {
    display: block;
    width: 80%;
  }
  .home .explore__img {
    width: 100%;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  .home .explore__padding {
    padding-bottom: 3em;
  }
}
@media screen and (max-width: 700px) {
  .home .fondo__caja {
    font-size: 0.6em;
  }
}

/* Home de Pablo */
/* Home de Alba */
.container {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 85%;
  }
}

.title {
  font-family: var(--f-principal);
  font-size: 3.25rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  line-height: 0.9;
}
.title--outline {
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 2rem;
  }
}

.subtitle {
  font-family: var(--f-principal);
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.05em;
}

.note {
  font-family: var(--f-principal);
  font-weight: 900;
  line-height: 2;
  text-transform: uppercase;
}
.note--it {
  font-style: italic;
}
.note--s {
  font-size: 0.75rem;
}
.note--m {
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .note {
    font-size: 0.7rem;
  }
  .note--m {
    font-size: 1.2rem;
  }
}

.button {
  display: inline-block;
  padding: 0.75em 2.2em;
  font-family: var(--f-principal);
  font-size: 0.95rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: var(--color-texto);
  border: 1.25px solid currentColor;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button__svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}
.button--media {
  display: block;
  width: 100%;
}
.button--rrss {
  padding: 0.5em;
}

p {
  font-family: var(--f-secundaria);
  font-size: 0.95rem;
  font-weight: normal;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  p {
    font-size: 0.85rem;
  }
}

.dots {
  display: none;
  position: absolute;
  bottom: 1.75rem;
  left: 0;
  width: 100%;
}
.dots__dot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dots__dot.active {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider {
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  position: relative;
}
.slider__container {
  overflow-x: hidden;
}
.slider .button {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slider .button:hover {
  background-color: white;
  border-color: white;
  color: var(--fondo-principal);
}
.slider .button__svg {
  margin: 0 auto;
}
.slider__social {
  width: 203%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
  grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: 2.3rem;
  grid-template-rows: 2.3rem;
  gap: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider__social > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.slider__social > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.slider__social > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.slider__social > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.slider__social > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.slider__social > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
.slider__social > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}
.slider__social > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}
.slider__social > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}
.slider__social > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}
.slider__arrow {
  width: 0.35rem;
  height: 0.35rem;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 0.35rem);
  left: -1rem;
}
.slider__arrow.right {
  left: auto;
  right: -1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-principal);
  z-index: 3;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  display: none;
  color: white;
  margin-right: 0.5rem;
  cursor: pointer;
  pointer-events: auto;
}
.header__burger.active {
  pointer-events: none;
}
.header__burger-item {
  display: block;
  width: 1.6rem;
  height: 1.5px;
  margin: 0.35em 0;
  background-color: white;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.4s ease 0.3s;
  transition: -webkit-transform 0.4s ease 0.3s;
  transition: transform 0.4s ease 0.3s;
  transition: transform 0.4s ease 0.3s, -webkit-transform 0.4s ease 0.3s;
}
.header__burger-item:last-child {
  width: 1rem;
}
.header__burger-item:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease 0.2s;
  transition: -webkit-transform 0.3s ease 0.2s;
  transition: transform 0.3s ease 0.2s;
  transition: transform 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
}
.header__burger.active .header__burger-item {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.header__logo {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__logo.mobile {
  display: none;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: white;
  margin-left: auto;
  cursor: pointer;
}
.header__signin span {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__signin:hover span {
  opacity: 0.8;
}
.header__svg {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 1rem;
}
@media screen and (max-width: 1065px) {
  .header {
    padding: 1.75rem 0;
  }
  .header__burger {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0.75rem 0;
  }
  .header__burger {
    width: 2rem;
    height: 2rem;
  }
  .header__logo {
    width: 5rem;
    height: 2rem;
  }
  .header__logo.mobile {
    display: block;
  }
  .header__logo.desktop {
    display: none;
  }
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5rem;
}
.nav__li {
  margin-left: 2.5rem;
  padding: 2rem 0;
  border-top: 3px solid var(--color-principal);
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__li:hover {
  border-top: 3px solid currentColor;
}
.nav__a {
  font-size: 0.9em;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: inherit;
}
.nav__mobile {
  display: none;
}
@media screen and (max-width: 1065px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    min-height: 100vh;
    background-color: var(--fondo-secundario);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
  }
  .nav.active {
    opacity: 1;
    pointer-events: auto;
  }
  .nav__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 5rem 2.5rem 1rem;
  }
  .nav__li {
    position: relative;
    border: 0;
    padding: 0.75rem 0;
    margin: 0;
  }
  .nav__li.active {
    color: var(--color-principal);
  }
  .nav__li.active::before {
    content: "";
    width: 2rem;
    height: 80%;
    position: absolute;
    top: 5%;
    left: -3.25rem;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    background-color: var(--color-principal);
  }
  .nav__a {
    font-size: 1em;
  }
  .nav__mobile {
    display: block;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
    padding: 0 2.5rem;
  }
  .nav__close {
    display: block;
    position: absolute;
    top: 1.75rem;
    left: 2rem;
  }
  .nav__close-item {
    display: block;
    width: 1.6rem;
    height: 1.5px;
    background-color: white;
    -webkit-transform: rotate(45deg) scaleX(0);
            transform: rotate(45deg) scaleX(0);
    -webkit-transition: all 0.3s ease 0.15s;
    transition: all 0.3s ease 0.15s;
  }
  .nav__close-item:last-child {
    margin-top: -1.5px;
    -webkit-transform: rotate(-45deg) scaleX(0);
            transform: rotate(-45deg) scaleX(0);
    -webkit-transition: all 0.4s ease 0.25s;
    transition: all 0.4s ease 0.25s;
  }
  .nav.active .nav__close-item {
    -webkit-transform: rotate(45deg) scaleX(1);
            transform: rotate(45deg) scaleX(1);
    -webkit-transition: all 0.3s ease 0.45s;
    transition: all 0.3s ease 0.45s;
  }
  .nav.active .nav__close-item:last-child {
    margin-top: -1.5px;
    -webkit-transform: rotate(-45deg) scaleX(1);
            transform: rotate(-45deg) scaleX(1);
    -webkit-transition: all 0.4s ease 0.55s;
    transition: all 0.4s ease 0.55s;
  }
  .nav__title {
    font-size: 1.2em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    padding-top: 1rem;
    border-top: 1.25px solid var(--color-subtexto);
  }
  .nav .slider {
    width: 100%;
    max-width: none;
    margin: 1.5rem 0 2rem;
  }
  .nav .slider__social {
    -ms-grid-rows: 3rem;
    grid-template-rows: 3rem;
  }
  .nav .button--media {
    font-size: 1.1rem;
    padding: 1em 2.2em;
  }
}
@media screen and (max-width: 360px) {
  .nav__mobile {
    position: static;
  }
  .nav__a {
    font-size: 0.9rem;
  }
}

.about {
  font-weight: 900;
}
.about .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: var(--color-texto);
}
.about .hero__section {
  margin: 0 3.5rem;
  max-width: 400px;
}
.about .hero__h1 {
  font-size: 6rem;
  font-style: italic;
  line-height: normal;
  text-transform: uppercase;
}
.about .hero__h2 {
  font-size: 1.35rem;
  line-height: normal;
  text-transform: uppercase;
  padding: 0.5rem 0 1.5rem;
}
.about .hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about .hero__ul {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--fondo-terciario);
  text-transform: uppercase;
}
.about .hero__ul.active {
  position: fixed;
  z-index: 2;
  bottom: auto;
}
.about .hero__li {
  padding: 1rem 0 1.5rem;
  margin: 0 1.5rem;
  border-top: 2px solid var(--fondo-terciario);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about .hero__li.active {
  border-top: 2px solid currentColor;
}
@media screen and (max-width: 767px) {
  .about .hero__section {
    margin: 0;
  }
  .about .hero__h1 {
    font-size: 4rem;
  }
  .about .hero__h2 {
    font-size: 1.2rem;
  }
  .about .hero__li {
    font-size: 0.6rem;
    margin: 0 0.35rem;
  }
}
.about .media {
  position: relative;
  padding: 4rem 0 10rem;
}
.about .media__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about .media__li {
  width: 31%;
}
.about .media__img {
  margin: 2rem 0 1rem;
}
.about .media .note {
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .about .media {
    padding: 3rem 0 9rem;
  }
  .about .media__s-container {
    overflow-y: hidden;
  }
  .about .media__ul {
    width: 300%;
  }
  .about .media__li {
    width: 33%;
  }
}
.about .host {
  position: relative;
  padding: 7rem 0 10rem;
  background-color: var(--fondo-secundario);
}
.about .host .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .host__img {
  width: 50%;
}
.about .host__h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.75rem 0 1.75rem;
}
.about .host__p:last-of-type {
  margin: 1.25rem 0 1.5rem;
}
.about .host__article {
  position: relative;
  width: 40%;
  margin-left: 4%;
}
.about .host::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 60px 60px;
  border-color: transparent transparent #000aff;
}
.about .host .button:hover {
  color: var(--color-subtexto);
}
@media screen and (max-width: 767px) {
  .about .host {
    padding: 0 0 4rem;
  }
  .about .host .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .host .container > * {
    width: 100%;
  }
  .about .host__img {
    margin-bottom: 1rem;
  }
  .about .host__h3 {
    font-size: 1.25rem;
    margin: 0.75rem 0 1.25rem;
  }
  .about .host__p:last-of-type {
    margin: 0.75rem 0 1rem;
  }
  .about .host .button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.about .board {
  padding: 6rem 0;
  background: url(../assets/about/img/TGA21_Superhero_Ambient_003b_Dusty_Clean.jpg) center/cover no-repeat fixed;
}
.about .board__article {
  max-width: 525px;
  margin-bottom: 4rem;
}
.about .board__h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.75rem 0;
}
.about .board__ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.5rem 1fr 3.5rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
}
.about .board__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}
.about .board__li > * {
  width: 50%;
}
.about .board__img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-color: var(--fondo-principal);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about .board__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.about .board__info {
  position: relative;
  padding: 0.75rem 0 0 1.25rem;
}
.about .board__name {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
.about .board .note {
  line-height: 1;
}
.about .board__svg {
  position: absolute;
  bottom: 0;
  left: 1.25rem;
  max-width: 4.75rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
@media screen and (max-width: 1065px) {
  .about .board__ul {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .about .board {
    padding: 3rem 0;
    background: url(../assets/about/img/TGA21_Superhero_Ambient_003b_Dusty_Clean-mobile.jpg) center/cover no-repeat fixed;
  }
  .about .board__article {
    margin-bottom: 2rem;
  }
  .about .board__h3 {
    font-size: 1rem;
  }
  .about .board__ul {
    gap: 1.5rem;
  }
  .about .board__li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .board__li > * {
    width: 100%;
  }
  .about .board__info {
    position: relative;
    padding: 0.75rem 0 0;
  }
  .about .board__name {
    font-size: 1rem;
  }
  .about .board__svg {
    display: none;
  }
}
.about .press {
  position: relative;
  padding: 6rem 0 6rem;
  background-color: var(--fondo-terciario);
}
.about .press__ul {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7% 1fr 7% 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem 7%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about .press__a {
  overflow: hidden;
}
.about .press__img-container {
  width: 100%;
  height: 13.5rem;
  margin-bottom: 2.5rem;
}
.about .press__img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about .press__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.about .press__h4 {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.about .press .note {
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .about .press__s-container {
    overflow-y: hidden;
  }
  .about .press__ul {
    margin-top: 1.5rem;
    width: 600%;
    -ms-grid-columns: 1fr 0.3% 1fr 0.3% 1fr 0.3% 1fr 0.3% 1fr 0.3% 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.3%;
  }
  .about .press__img-container {
    height: auto;
    margin-bottom: 1rem;
  }
  .about .press__h4 {
    margin-bottom: 0.5rem;
  }
}
.about .contact {
  position: relative;
  padding: 11rem 0 7rem;
  background: url(../assets/about/img/svg/accent0-triangle.svg) right/25% repeat-y, var(--fondo-secundario);
}
.about .contact .container {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about .contact .title {
  font-style: normal;
}
.about .contact__p {
  margin-top: 1rem;
  width: 85%;
}
.about .contact__section {
  width: 45%;
}
.about .contact__ul {
  width: 38%;
}
.about .contact__li {
  padding-bottom: 4rem;
}
.about .contact .button {
  font-style: normal;
}
.about .contact::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 60px 60px;
  border-color: transparent transparent var(--fondo-principal);
}
.about .contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 60px 60px;
  border-color: transparent transparent transparent var(--fondo-principal);
}
@media screen and (max-width: 767px) {
  .about .contact {
    background: url(../assets/about/img/svg/accent0-triangle.svg) center/contain no-repeat, var(--fondo-secundario);
  }
  .about .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .contact .container > * {
    width: 100%;
  }
  .about .contact__ul {
    padding-top: 3rem;
  }
  .about .contact .button {
    display: inline-block;
    width: 100%;
  }
}

.footer {
  font-family: var(--f-secundaria);
  font-size: 0.78rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-align: center;
  padding: 5rem 0;
}
.footer .container {
  max-width: 370px;
}
.footer__decor {
  display: block;
  width: 50%;
  height: 1.25px;
  margin: 1.75rem auto 0;
  background-color: var(--color-subtexto);
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  color: var(--color-subtexto);
  border-bottom: 1.25px solid var(--color-subtexto);
}
.footer__li {
  width: 50%;
  padding: 0.5rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__li:hover {
  color: var(--color-texto);
}
.footer__copy {
  font-size: 0.7rem;
  letter-spacing: 0;
  color: var(--color-subtexto);
  padding-top: 1.75rem;
}
@media screen and (max-width: 767px) {
  .footer__social {
    overflow-x: scroll;
  }
}