.home{
    .header{
        width: 100%;
        background-color: var( --color-principal);
        &__centrado{
            width: 100%;
            max-width: 1830px;
            margin: auto;
        }
    
    }
}