// Pablowako

// Este sirve para centrar contenido y darle un max-width
@mixin wrap ($width, $maxwidth, $center-vert){
	width: 		$width;
	max-width: 	$maxwidth;
	margin: 	auto;
	@include flex (row, nowrap, $center-vert, center);
}

// Este sirve para centrar contenido
@mixin flex-center(){
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}